.footer{
    background-color: #192229;
    width: 100%;
    display: flex;
}

.copyright{
    margin: 20px 40px;
    font-size: 13px;
    color:#fff;
    display: flex;
    align-items: center;
}

.linkedin{
    font-size: 30px;
    padding: 0 15px;
    color: #fff;
}

@media only screen and (max-width: 650px) {
    .copyright{
        margin: 15px 15px;
    }
}